<% let loginRequired = defaultSettings.requireLogin ? "checked" : "" %>
<% let registration = defaultSettings.registrationRequired ? "checked" : "" %>
<%  %>

<div class="row mt-5">
  <div class="col-md-6 m-auto">
    <div class="card card-body text-center">
      <h1 class="text-center mb-3"><%= defaultSettings.appName %> Setup</h1>
      <p><img class="text-center" width="50%" src="images/logo.png" /></p>
      <%- include('./partials/messages') %>
      <p>Before we get started with adding printers <%= defaultSettings.appName %> need some more information from you about your enviroment. This will create a ".env" file in <%= defaultSettings.appName %>s root directory which will be read everytime <%= defaultSettings.appName %> starts. These options are also editable within the UI.</p>
      <p>Please check over the form below and update any incorrect values...</p>
      <form action="/submitEnvironment" method="POST"  id="dotEnvForm">
        <div class="input-group mb-3" title="Customise the name of your <%= defaultSettings.appName %> instance">
          <div class="input-group-prepend">
            <span class="input-group-text">Application Name: </span>
          </div>
          <input type="text" class="form-control" id="appName" value="<%= defaultSettings.appName %>">
        </div>
        <div class="input-group mb-3" title="Enter your mongodb connection URI string...">
          <div class="input-group-prepend">
            <span class="input-group-text">mongodb://</span>
          </div>
          <input type="text" class="form-control" id="databaseURI" value="<%= defaultSettings.db.replace("mongodb://","") %>">
        </div>
        <p>
          <button class="btn btn-secondary btn-sm" type="button" data-toggle="collapse" data-target="#advancedCollapse">
            Advanced Settings &#9660;
          </button>
        </p>
        <div class="collapse" id="advancedCollapse">
        <div class="input-group mb-3" title="Enter the port you would like your server accessible from...">
          <div class="input-group-prepend">
            <span class="input-group-text">Server Port:</span>
          </div>
          <input type="number" class="form-control" id="serverPort" step="1" value="<%= defaultSettings.serverPort %>">
        </div>

        <div class="row">
          <div class="col-sm-6">
              <div class="custom-control custom-checkbox mb-3" title="Do you want to require a login to your server?">
                <input type="checkbox" class="custom-control-input" id="requireLogin" id="requireLogin" <%= loginRequired %>>
                <label class="custom-control-label" for="requireLogin">Require a Login</label>
              </div>
          </div>

          <div class="col-sm-6">
              <div class="custom-control custom-checkbox mb-3" title="Enable/Disable the ability for people to register new accounts...">
                <input type="checkbox" class="custom-control-input" id="requireRegistration" id="requireRegistration" <%= registration %>>
                <label class="custom-control-label" for="requireRegistration">Allow Registration</label>
              </div>
          </div>
        </div>

        </div>
        <button id="databaseSubmit" type="submit" class="btn btn-success btn-block">Submit Enviroment Settings</button>
      </form>

    </div>
  </div>
</div>
<script src="/js/lib/modules/workers/serverAliveCheck.js" type="module"></script>